---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400,700|Ubuntu+Mono), "syntax-highlighting";


/*------------
top-level
------------*/
html {
	background: darken(#fff, 5) !important; //EDF2F4
}

body {
	// background: red !important;
}

body {
	// background: darken(#fff, 5); //EDF2F4
	// font-family: Helvetica;
	font-family: 'Open Sans', sans-serif;
	// line-height: 2;
	color: lighten(#000, 25); //2E2F2F
}

h1, h2, h3, h4 {
	font-family: 'Droid Serif', serif;
	line-height: 1.2;
	font-weight: bold;
	color: lighten(#000, 15);

	a:hover {
		color: #EF233C;
	}
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2.5em;
}

p, ul {
	line-height: 2;
	font-size: 1.2em;
}

a {
	text-decoration: none;
	color: lighten(#000, 15); //151515
	transition: all 0.5s ease;
}


/*------------
wrapper
------------*/
.wrapper {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
}


/*------------
header
------------*/
header {
	color: lighten(#000, 15);
	padding: 30px 30px;
	text-align: center;

	p {
		line-height: 1.5;
	}

	span {
		font-weight: bold;
		color: #000;

		&.small {
			font-weight: normal;
			font-size: 75%;
		}
	}

	a:hover {
		color: #EF233C;
	}
}

nav {
	text-align: center;
	padding-bottom: 30px;

	li a {
		border-bottom: 1px solid darken(#fff, 25);
		border-radius: 5px;
		padding: 10px;
		background: darken(#fff, 4);
		transition: all 0.5s ease;

		&:hover {
			// border-bottom: 1px solid darken(#ccc, 25);
			background: darken(#fff, 1);
		}
	}
}


/*------------
post
------------*/
.post {
	background: #fff;
	padding: 20px;
	margin-bottom: 40px;

	a {
		border-bottom: 1px solid darken(#fff, 15);
		border-radius: 3px;
		padding: 3px 6px;

		&:hover {
			background: darken(#fff, 8);
		}
}

	h2, .post_meta {
		text-align: center;
	}

	h2 a {
		border: none;

		&:hover {
			background: none;
		}
	}

	&.post_full {
		h1, .post_meta {
			text-align: center;
		}

		.post_meta {
			padding: 10px 0 20px 0;
		}

		h2 {
			font-size: 2em;
			text-align: left;
			padding: 20px 0 5px;

			&:first-of-type {
				padding-top: 0;
			}
		}

		p {
			margin-bottom: 15px;

			&:last-of-type {
				margin-bottom: 0;
			}
		}

		ul {
			list-style-type: disc;
			margin-left: 22px;
		}

		img {
			width: 100%;
		}
	}

	.post_meta {
		display: block;
		padding: 15px 0 10px 0;
		margin-left: 22px;

		span {
			padding-right: 35px;
		}

		img {
			width: 16px;
			position: absolute;
			margin: 0 0 0 -22px;
		}
	}
}

.post_footer {
	width: 80%;
	margin: 30px auto;
	text-align: center;

	&:last-of-type {
		margin-bottom: 0;
	}

	.separator {
		display: block;
		margin-bottom: 20px;
		font-size: 2em;
		line-height: 0;
		letter-spacing: 5px;
		color: darken(#fff, 10);
	}

	p {
		font-size: 0.9em;
	}

	.social {
		padding-top: 10px;
	}

	a {
		border: none;

		&:hover {
			background: none;
		}
	}

	img {
		width: 30px !important;
		transition: all 0.2s ease;

		&:hover {
			transform: translateY(2px) scale(0.99);
		}
	}

	.recent {
		padding-top: 8px;
		line-height: 1;
		font-size: 1em;

		li {
			display: inline-block;
			padding-right: 15px;

			&:last-of-type {
				padding-right: 0;
			}

			a:hover {
				color: #EF233C;
			}

			.meta {
				font-size: 0.8em;
				color: darken(#fff, 50);
				padding-top: 3px;
			}
		}
	}
}