---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*------------
imports
------------*/
@import "reset", "syntax-highlighting"; // "base", "layout"
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600|Source+Sans+Pro:600,400);


/*------------
variables
------------*/
$heading_font: "Helvetica Neue", Helvetica, 'Source Sans Pro', Arial, sans-serif;
$heading_font-size: 2em;
$heading_font-weight: 600;

$body_font: 'Open Sans', sans-serif;
$body_font-size: 1em;
$body_font-weight: normal;
$body_font-color: #000;

$spacing: 30px;


/*------------
fonts
------------*/
h1, h2, h3, h4 {
    font-family: $heading_font;
    font-size: $heading_font-size;
    font-weight: $heading_font-weight;
    text-transform: uppercase;
    padding: $spacing / 2 0;
}

h2 {
	font-size: $heading_font-size * 0.85;
}

h3 {
	font-size: $heading_font-size * 0.65;
}

p, ul, a {
    font-family: $body_font;
    font-size: $body_font-size;
    font-weight: $body_font-weight;
    text-decoration: none;
    line-height: 1.5;
    color: $body_font-color;
    padding: 0 0 $spacing / 3 0;
}

a {
	border-bottom: 2px solid transparent;
    transition: 0.5s ease;
}


/*------------
code formatting
------------*/
code, pre {
	font-family: "Courier New", Courier, monospace;
    font-size: $body_font-size * 0.95;
    margin: 0 0 $spacing / 3 0;
    // border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


/*------------
home
------------*/
header {
	max-width: 650px;
	margin: 25px auto;
	font-family: $heading_font;

	img {
		width: 100px;
		border-radius: 50%;
		float: left;
	}

	p {
		color: lighten($body_font-color, 15);
		width: 650 - 120px;
		float: left;
		padding-left: $spacing - 10;

		span, a, a:hover  {
			text-transform: uppercase;
			font-weight: bold;
			color: $body_font-color;
			transition: opacity 0.5s;
		}

		a:hover {
			opacity: 0.75;
		}

		.fa-twitter {
			color: #55acee;
		}

		.fa-paper-plane {
			color: #DF2935;
		}
	}
}

.page_nav {
	clear: both;

	text-align: center;
	text-transform: uppercase;
	padding: 5px 0 15px 0;

	li {
		display: inline;
		padding-right: 15px;

		&:last-of-type {
			padding-right: 0;
		}
	}

	a {
		font-size: $body_font-size * 0.85;
		font-weight: 600;
		padding-bottom: 2px;

		&:hover {
			border-bottom: 2px solid currentcolor;
		}

		&.active {
			color: blue;
		}
	}


}


/*

p, span,
.post_section_a,
ul {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

p a,
.post_section_a,
.page_nav a {
	color: #DF2935;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: 0.5s ease;
	font-weight: 600;
}

p a:hover,
.post_section_a:hover,
.page_nav a:hover {
	border-bottom: 2px solid #DF2935;
}

.emoji {
	width: 15px !important;
}

ul {
	padding: 0 0 0 18px;
	list-style: disc;
	li {
		padding-bottom: 10px;
		line-height: 1.5
	}
}

.highlight {
	padding: 5px 0;
	line-height: 1.5;
}

/*------------
#index-posts
------------
main {
// 	padding-top: 25px;
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.post {
	flex-grow: 3;
	min-width: 350px;
	height: 300px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-position: center center;
	background-size: cover;

	&:nth-of-type(even) {
		flex-basis: 30%;
	}

	&:nth-of-type(odd) {
		flex-basis: 35%;
	}

	@media screen and (max-width: 1170px) {
		&:nth-of-type(even), &:nth-of-type(odd) {
			flex-basis: 50%;
		}
	}

	@media screen and (max-width: 900px) {
		&:nth-of-type(even), &:nth-of-type(odd) {
			flex-basis: 100%;
		}
	}

}

.post_overlay {
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.5);
	transition: all 0.25s ease;
	text-align: center;
	display: flex;
	align-items: center;
}

.post_overlay:hover {
	background: rgba(0, 0, 0, 0.25);
	box-shadow: inset 0 0 15px 5px rgba(0, 0, 0, 0.20);
	cursor: pointer;
}

.post_overlay-single:hover {
	background: rgba(0, 0, 0, 0.5);
	box-shadow: none;
	cursor: default;
}

.post_content {
	margin: 0 auto;

	.post_meta,
	p,
	.post_tags {
		text-shadow: 0 1px 2px #000;
		font-size: 0.85em;
	}

	.post_tags {
		text-transform: uppercase;
	}

/*
	.post_meta,
	p,
	h2 {
		text-shadow: 0 1px 2px #000;
		font-size: 0.85em;
		color: #fff;
		text-transform: none;
		display: inline-block;
		font-weight: 400;
	}

	h2 {
		margin-right: -10px;
	}


	.post_meta {
		position: relative;
		top: -80px;
		text-transform: uppercase;
	}

	.post_title {
		padding-bottom: 20px;
		text-shadow: 0 1px 2px #000;
	}

	p {
		padding: 0 10px;
	}
}


/*------------
#post
------------
.post_overlay-single {
	.post_meta {
		top: -50px;
	}
}

.post_nav {
	position: absolute;
	background: rgba(0, 0, 0, 0.75);
	width: 100vw;
	height: 35px;

	a, a:hover {
		color: #fff;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		font-size: 0.8em;
	}
}

.post_nav-prev, .post_nav-next, .post_nav-page {
	position: absolute;
	top: 10px;
}

.post_nav-prev {
	left: 0;

	i {
		padding: 0 5px 0 15px;
	}
}

.post_nav-next {
	right: 0;

	i {
		padding: 0 15px 0 5px;
	}
}

.post_nav-page {
	left: 25%;
	right: 25%;
	a {
		padding: 0 10px;
		&:last-of-type {
			padding: 0;
		}
	}
}

.post_content-single {
    padding: 50px 0;
    width: 80vw;
    max-width: 800px;

	p {
		text-shadow: none;
		line-height: 1.5;
	    padding: 0 0 15px 0;
	    font-size: 1em;
	}

	img {
	    text-align: center;
	    width: 100%;
	    border: none;
    }
}


/*------------
#post sections
------------
.post_section_header {
	font-weight: 600;
	padding: 15px 0 5px 0;
	border-bottom: 2px solid #f0f0f0;
}

.post_section {
	margin: 0 auto;
	padding: 5px 0;
}

.post_section-related {
	width: 25vw;
	min-width: 100px;
	float: left;
}

.post_section-social {
	width: 100%;
}

.post_section-related, .post_section-social {
	padding-top: 10px;
}

.post_section_a.social {
	border: none;

	i {
// 		font-size: 1.75em;
		padding-right: 10px;
	}

	.fa-twitter-square {
		color: #55acee;
	}

	.fa-facebook-square {
		color: #3b5998;
	}

	.fa-google-plus-square {
		color: #dc4e41;
	}

	.fa-envelope {
		color: #DF2935;
	}

	&:hover {
		border: none;
		opacity: 0.85;
	}
}

.post_section_meta {
	padding-top: 5px !important;
	font-size: 0.8em !important;
	color: #aaa;
}
*/