<header {% if page.path == 'index.html' %}class="header--home"{% else %}class="header--page"{% endif %}>
    <div class="header_content">
      {% if page.path == 'index.html' %}
      <h1>Hello, <span>I'm Gethin.</span></h1>
      {% else %}
      <a class="corner_logo" href="{{site.url}}"><img src="{{ site.url }}/assets/img/corner_logo.svg"></a>
      <h1>{{ page.title }}</h1>
      {% endif %}

      {% if page.path != 'index.html' %}
      <nav class="nav-page">
          <ul>
              <li><a href="{{site.url}}">home</a></li>
              <li class="sep"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><a href="https://twitter.com/gethinoakes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="sep"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><a href="#cv">Hire Me</a></li>
          </ul>
      </nav>
      {% else %}
      <nav>
          <ul>
              <li><a href="https://twitter.com/gethinoakes" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li class="sep"><i class="fa fa-star" aria-hidden="true"></i></li>
              <li><a href="#cv">Hire Me</a></li>
          </ul>
      </nav>
      {% endif %}

      {% if page.path == 'index.html' %}
      <p>I'm a (mainly) front-end eveloper. I post about programming, apple and technology in general.</p>
      {% endif %}
    </div>
</header>
