<header>
  <img href="{{ site.url }}/" src="{{ site.baseurl }}/img/profile.jpg" alt="me">

  <p>
    <span>Welcome</span>, my name is <span>Gethin Oakes</span>. I'm a <span>software developer</span> and this is my <span>blog</span>.
    You can expect posts on programming, technology, apple, opinions and probably some <span>rants.
    </span> You can contact me via <span><a href="https://twitter.com/gethinoakes" target="_blank"><i class="fa fa-twitter"></i> twitter</a></span> or
    <span><a href="mailto:hello@gethinoakes.com?subject=gethinoakes.com"><i class="fa fa-paper-plane"></i> email</a></span>
    (I'm available for hire).
  </p>
</header>

{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
<nav class="page_nav">

    <ul>
      <li><a {% if location == '{{ site.baseurl }}' %}class="active" {% endif %}href="/">Blog</a></li>
      <li><a {% if location == 'projects' %}class="active" {% endif %}href="/projects/">Projects</a></li>
    </ul>

</nav>