
<header>
	<p><span>Welcome</span>, I'm <span>Gethin</span>. I'm a <span>software developer</span> and this is my <span>blog</span>. You can expect posts on programming, technology, apple, opinions and probably some <span>rants.</span> You can contact me via <br><span><a href="https://twitter.com/gethinoakes" target="_blank"><img src="{{site.url}}/img/twitter.png"> twitter</a></span> or <span><a href="mailto:hello@gethinoakes.com?subject=gethinoakes.com"><img src="{{site.url}}/img/email.png"> email</a></span> <span class="small">(I'm available for hire).</span></p>
</header>
{% if page.path != 'index.html' %}
<nav>
	<ul>
		<li><a href="{{ site.url }}">posts</a></li>
	</ul>
</nav>
{% endif %}