<div class="pagination">
  <div class="previous_page">
    {% if paginator.previous_page %}
    <a class="pagination-button" href="{{ paginator.previous_page_path }}">
      <i class="fa fa-angle-left"></i>
    </a>
    {% endif %}
  </div>

  <ul>
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <li>{{ page }}</li>
    {% elsif page == 1 %}
    <a href="/">
      <li>{{ page }}</li>
    </a>
    {% else %}
    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">
      <li>{{ page }}</li>
    </a>
    {% endif %}
    {% endfor %}
  </ul>

  <div class="next_page">
    {% if paginator.next_page %}
    <a class="pagination-button" href="{{ paginator.previous_page_path }}">
      <i class="fa fa-angle-right"></i>
    </a>
    {% endif %}
  </div>
</div>