<section class="post_section">
	<h4 class="header">Share This</h4>
	<div class="social">
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url + '/' + page.url | bitly }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><i class="fa fa-2x fa-twitter-square"></i></a>

		<a href="https://facebook.com/sharer.php?u={{ site.url + '/' + page.url | bitly }}" rel="nofollow" target="_blank" title="Share on Facebook"><i class="fa fa-2x fa-facebook-square"></i></a>
	</div>
</section>
