<div class="post_footer">
	<span class="separator">~~~~~~</span>
	<h4>Hi there</h4>
	<p>Thanks for taking the time to read this. If you liked what you read and can spare a few seconds I'd really appreciate it if you could share this post.</p>
	<div class="social">
		<a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://gethinoakes.com{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter"><img src="{{site.url}}/img/share_twitter.png"></a>
		<a href="https://facebook.com/sharer.php?u=http://gethinoakes.com{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook"><img src="{{site.url}}/img/share_facebook.png"></a>
	</div>
</div>